<footer class="relative flex jutify-center px-[15px] min-[450px]:px-[30px] py-[50px] min-[450px]:py-[80px] border-t border-[rgb(229,232,235)] z-[5]">
    <div class="flex flex-col justify-between w-full max-w-[1120px] mx-auto">
        <div class="flex flex-col min-[450px]:flex-row items-center justify-center min-[450px]:justify-between gap-8 min-[450px]:gap-5">
            <div class="flex flex-col">
                <span class="flex items-center text-[rgb(130,135,145)] text-[15px] max-w-[450px]">Copyright @ 2025 - Rifando</span>
                <span class="flex items-center text-[rgb(130,135,145)] text-[15px] max-w-[450px]">Todos os direitos reservados</span>
            </div>
            <div class="flex items-center justify-end">
                <button
                    type="button"
                    id="btnTop"
                    class="flex items-center justify-center gap-2 cursor-pointer text-[14px] font-medium bg-[rgb(237,237,241)] hover:bg-[rgb(218,219,222)] text-[rgb(13,12,34)] px-3 py-[10px] rounded-[10px] transition-colors duration-75"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-up"><path d="m5 12 7-7 7 7"></path><path d="M12 19V5"></path></svg>
                    voltar ao topo
                </button>
            </div>
        </div>
    </div>
</footer>