{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rifando</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body class="relative flex flex-col min-h-screen bg-background antialiased">
    {% include 'components/header.html' %}
    <main class="relative flex grow items-center justify-center mt-[80px] pt-0 {% if not user.is_authenticated %}p-14{% endif %} max-[1119px]:px-6">
        {% block content %}{% endblock %}
    </main>
    {% if not user.is_authenticated %}
        {% include 'components/footer.html' %}
    {% endif %}

    <script>
        const btnTop = document.getElementById("btnTop");

        btnTop.addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });

        const accordionContent = document.querySelectorAll(".accordion-content");

        accordionContent.forEach((item, index) => {
            let header = item.querySelector("header");
            header.addEventListener("click", () => {
                item.classList.toggle("is-open");

                let description = item.querySelector(".accordion-content-description");
                if (item.classList.contains("is-open")) {
                    description.style.height = `${description.scrollHeight}px`;
                    item.querySelector("i").classList.replace("fa-plus", "fa-minus");
                } else {
                    description.style.height = "0px";
                    item.querySelector("i").classList.replace("fa-minus", "fa-plus");
                }
                removeOpenedContent(index);
            })
        })

        function removeOpenedContent(index) {
            accordionContent.forEach((item2, index2) => {
                if (index != index2) {
                    item2.classList.remove("is-open");
                    let descrip = item2.querySelector(".accordion-content-description");
                    descrip.style.height = "0px";
                    item2.querySelector("i").classList.replace("fa-minus", "fa-plus");
                }
            })
        }
    </script>
</body>

</html>