{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rifando - Auth</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="relative flex flex-col min-h-screen bg-background antialiased bg-[url({% static 'images/page-bg.webp' %})] bg-cover bg-center bg-fixed bg-no-repeat">
    <main class="relative flex grow items-center justify-center p-14 max-[1119px]:px-6">
        <div class="flex size-full max-w-[400px] min-[1120px]:min-w-[1000px] min-[1120px]:max-w-[1000px] min-[1120px]:min-h-[600px]  bg-white  rounded-xl overflow-hidden">
            <div class="hidden min-[1120px]:flex flex-col gap-5 items-center w-full bg-gradient-to-tr from-blue-500 to-blue-300 p-10">
                <a href="/" class="text-white text-4xl font-bold uppercase">Rifando</a>
                <div class="flex items-center justify-center size-full">
                    <img src="{% static 'images/login-character.webp' %}" class="w-full h-auto" />
                </div>
            </div>
            <div class="flex flex-col items-center justify-center w-full max-w-[400px]">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</body>

</html>