{% extends 'base_auth.html' %}

{% load static %}

{% block content %}

<div class="bg-white p-8 rounded-2xl w-full max-w-md">
    <h2 class="text-2xl font-bold text-center text-gray-800">Insira o E-mail</h2>
    <p class="text-center text-gray-500">Welcome Back!</p>

    <form action="{% url 'reset_password' %}" method="POST" class="mt-6">
        {% csrf_token %}

        <div class="flex flex-col gap-1 mb-4">
            <label for="email" class="block text-gray-600"><strong>E-mail</strong></label>
            <div class="flex items-center border rounded-lg p-2">
                <span class="text-gray-400 px-2">
                    <i class="fa-solid fa-envelope !important"></i>
                </span>
                <input type="email" id="email" name="email" placeholder="seuemail@example.com"
                    class="w-full focus:outline-none" required>
            </div>
        </div>

        <button type="submit"
            class="w-full bg-black text-white py-2 rounded-lg font-semibold hover:bg-gray-800 transition">
            Redefinir Senha
        </button>

        <div class="flex justify-center items-center my-4">
            <hr class="w-1/3 border-gray-300">
            <span class="px-2 text-gray-500">ou</span>
            <hr class="w-1/3 border-gray-300">
        </div>

        <div class="flex justify-center gap-5">
            <button type="button" class="w-full border py-2 rounded-lg flex items-center justify-center hover:bg-gray-100">
                <img src="{% static 'images/google-icon.png' %}" alt="Google" class="w-5 h-5 mr-2">
            </button>
            <button type="button" class="w-full border py-2 rounded-lg flex items-center justify-center hover:bg-gray-100">
                <img src="{% static 'images/github-icon.png' %}" alt="GitHub" class="w-5 h-5 mr-2">
            </button>
        </div>
    </form>

    <p class="text-center mt-4 text-gray-600">
        Você ainda não tem conta? Faça seu <a href="{% url 'register' %}" class="text-blue-600 font-semibold hover:underline">cadastro</a>
    </p>
</div>

{% endblock %}
